python_scripts/plots/
python_scripts/movies/
python_scripts/beckmann-plots/plots/
python_scripts/beckmann-plots/estd_files/
.idea/
python_scripts/__pycache__/
python_scripts/beckmann-plots/__pycache__/